body{
    background-color: #F3F5FC;
    position: relative;
    width: 1440px;
    height: 1024px;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter';
    font-style: normal;
    
}

header{
    padding: 20px 0;
}

main{

}

.contenedor{
}



.texto{

}



.input-texto{
    /*margin-top: 90px;*/

    background-color: #F3F5FC;
    border: transparent;
    resize: none;
    outline: none;

    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;

    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    
}

.input-texto::placeholder{
    color: #0A3871;
}

.texto p{
    /*display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 300px;
    height: 18px;
    left: 240px;
    top: 851px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 302px;
    height: 18px;
    left: 240px;
    top: 851px;

}

.resultado{
    top: 40px;
    position: absolute;
    right: 40px;
    width: 400px;
    height: 944px;
    /*background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 15px 25px -15px;
}

.muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

.resultado p:first-of-type{
    position: relative;
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    top: 579px;
    left: 32px;
}

.resultado p:last-of-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: absolute;
    text-align: center;
    width: 336px;
    height: 48px;
    top: 653px;
    left: 32px;
    color: #495057;
}

.mensaje{
    position: relative;
    display: none;
    background-color: #FFF;
    border: transparent;
    resize: none;
    outline: none;
    left: 32px;
    padding: 0;
    height: 781px;
    width: 336px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;

}


.botones{
    /*display: flex;
    flex-direction: row;
    margin-top: 20px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar{
    background-color: #0A3871;
    color: white;
    width: 328px;
    height: 67px;
    border-radius: 24px;
}

.desencriptar{
    margin-left: 30px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #D8DFE8;
    width: 328px;
    height: 67px;
    color: #0A3871;
}

.copiar{
    /*margin-top: 20px;
    margin-left: 205px;*/
    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
}

.informacion{
    font-size: 15px;
}